.rb-ac-editor-container {
    .rb-ac-form-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        padding: 30px;
        
        .rb-ac-course ,
        .rb-ac-stream ,
        .rb-ac-college ,
        .rb-ac-location {
            width: 400px;
        }
    }
    .rb-form-error {
        border: 1.5px solid red !important;
    }

    .rb-form-mandatory {
        color: red;
        position: absolute;
        right: -15px;
        top: -10px;
    }
}